@{
    ViewData["Title"] = "Home Page";
}
<div>
   
    <img src="https://hcmuni.fpt.edu.vn/Data/Sites/1/skins/default/img/og-image.png" alt="fptlogo" style="width:10%; float:left" />
    
    <img src="https://cdn.pixabay.com/photo/2012/04/01/19/23/bar-code-24157_960_720.png" alt="barcode" style="width:10%; float:right"/>
    
</div>
<div class="text-center" style="clear:both">
    <h1 class="display-4">Welcome</h1>
    <p>Vien Quoc Binh</p>
    <p>Vu Anh Thuyen</p>
    <p>Chau Tan Tai</p>
    <p>Pham Ho Minh Huy</p>
    <p>Hoang Dinh Anh Quoc</p>
    
</div>
