html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.center{
    position:absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    border-radius: 15px;
}